In [191]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mp
import seaborn as sns
from sklearn.preprocessing import LabelEncoder,StandardScaler,PolynomialFeatures
from sklearn.linear_model import LinearRegression,LogisticRegression,Ridge,Lasso
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [192]:
df = pd.read_csv(r"C:\Users\Yagnesh Narola\Documents\Coding Languages\Artificial Intelligence\Excel_and_CSV\alzheimers_prediction_dataset.csv",encoding='latin-1')

In [193]:
df

,Country,Age,Gender,Education Level,BMI,Physical Activity Level,Smoking Status,Alcohol Consumption,Diabetes,Hypertension,Cholesterol Level,Family History of Alzheimers,Cognitive Test Score,Depression Level,Sleep Quality,Dietary Habits,Air Pollution Exposure,Employment Status,Marital Status,Genetic Risk Factor (APOE-µ4 allele),Social Engagement Level,Income Level,Stress Levels,Urban vs Rural Living,Alzheimers Diagnosis
0,Spain,90,Male,1,33.0,Medium,Never,Occasionally,No,No,Normal,No,90,Low,Poor,Healthy,High,Retired,Single,No,Low,Medium,High,Urban,No
1,Argentina,72,Male,7,29.9,Medium,Former,Never,No,No,Normal,No,65,Low,Good,Healthy,Medium,Unemployed,Widowed,No,High,Low,High,Urban,No
2,South Africa,86,Female,19,22.9,High,Current,Occasionally,No,Yes,Normal,No,43,High,Good,Average,Medium,Employed,Single,No,Low,Medium,High,Rural,No
3,China,53,Male,17,31.2,Low,Never,Regularly,Yes,No,Normal,No,81,Medium,Average,Healthy,Medium,Retired,Single,No,High,Medium,Low,Rural,No
4,Sweden,58,Female,3,30.0,High,Former,Never,Yes,No,Normal,No,49,High,Poor,Unhealthy,High,Employed,Married,No,Low,Medium,High,Rural,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74278,Russia,60,Female,3,22.6,High,Former,Never,No,No,High,No,42,Medium,Poor,Average,High,Unemployed,Widowed,No,Medium,High,Medium,Rural,No
74279,UK,58,Male,18,30.6,Low,Never,Occasionally,Yes,No,Normal,No,42,Low,Poor,Average,Medium,Unemployed,Single,No,Medium,High,High,Rural,No
74280,Spain,57,Female,13,28.2,Medium,Never,Regularly,No,No,High,Yes,61,Low,Good,Healthy,Low,Employed,Single,Yes,High,Low,Low,Rural,No
74281,Brazil,73,Female,7,29.0,Low,Never,Regularly,No,No,High,No,97,High,Good,Healthy,Low,Employed,Widowed,No,Low,Low,High,Rural,No
74282,Norway,57,Female,1,31.7,Low,Current,Regularly,No,No,Normal,No,46,Low,Average,Average,Low,Unemployed,Single,No,Low,Medium,Medium,Urban,No

In [194]:
pd.set_option('display.max_columns',None)

In [195]:
le = LabelEncoder()
model1 = LinearRegression()
model2 = LinearRegression()
logic = LogisticRegression()
poly = PolynomialFeatures()
scaler = StandardScaler()
dt = DecisionTreeClassifier(criterion = 'entropy', random_state = 42)
rd = Ridge()
ls = Lasso()

In [196]:
df.isnull().sum()

Country                                 0
Age                                     0
Gender                                  0
Education Level                         0
BMI                                     0
Physical Activity Level                 0
Smoking Status                          0
Alcohol Consumption                     0
Diabetes                                0
Hypertension                            0
Cholesterol Level                       0
Family History of Alzheimers           0
Cognitive Test Score                    0
Depression Level                        0
Sleep Quality                           0
Dietary Habits                          0
Air Pollution Exposure                  0
Employment Status                       0
Marital Status                          0
Genetic Risk Factor (APOE-µ4 allele)    0
Social Engagement Level                 0
Income Level                            0
Stress Levels                           0
Urban vs Rural Living                   0
Alzheimers Diagnosis                   0
dtype: int64

In [197]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74283 entries, 0 to 74282
Data columns (total 25 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Country                               74283 non-null  object
 1   Age                                   74283 non-null  int64
 2   Gender                                74283 non-null  object
 3   Education Level                       74283 non-null  int64
 4   BMI                                   74283 non-null  float64
 5   Physical Activity Level               74283 non-null  object
 6   Smoking Status                        74283 non-null  object
 7   Alcohol Consumption                   74283 non-null  object
 8   Diabetes                              74283 non-null  object
 9   Hypertension                          74283 non-null  object
 10  Cholesterol Level                     74283 non-null  object
 11  Family History of Alzheimers         74283 non-null  object
 12  Cognitive Test Score                  74283 non-null  int64
 13  Depression Level                      74283 non-null  object
 14  Sleep Quality                         74283 non-null  object
 15  Dietary Habits                        74283 non-null  object
 16  Air Pollution Exposure                74283 non-null  object
 17  Employment Status                     74283 non-null  object
 18  Marital Status                        74283 non-null  object
 19  Genetic Risk Factor (APOE-µ4 allele)  74283 non-null  object
 20  Social Engagement Level               74283 non-null  object
 21  Income Level                          74283 non-null  object
 22  Stress Levels                         74283 non-null  object
 23  Urban vs Rural Living                 74283 non-null  object
 24  Alzheimers Diagnosis                 74283 non-null  object
dtypes: float64(1), int64(3), object(21)
memory usage: 14.2+ MB

In [198]:
df.shape

(74283, 25)

In [199]:
toencode = df.select_dtypes(include = 'object')

In [200]:
df.columns

Index(['Country', 'Age', 'Gender', 'Education Level', 'BMI',
       'Physical Activity Level', 'Smoking Status', 'Alcohol Consumption',
       'Diabetes', 'Hypertension', 'Cholesterol Level',
       'Family History of Alzheimers', 'Cognitive Test Score',
       'Depression Level', 'Sleep Quality', 'Dietary Habits',
       'Air Pollution Exposure', 'Employment Status', 'Marital Status',
       'Genetic Risk Factor (APOE-µ4 allele)', 'Social Engagement Level',
       'Income Level', 'Stress Levels', 'Urban vs Rural Living',
       'Alzheimers Diagnosis'],
      dtype='object')

In [201]:
list1 = ['Country', 'Gender',
       'Physical Activity Level', 'Smoking Status', 'Alcohol Consumption',
       'Diabetes', 'Hypertension', 'Cholesterol Level',
       'Family History of Alzheimers','Depression Level', 'Sleep Quality', 'Dietary Habits',
       'Air Pollution Exposure', 'Employment Status', 'Marital Status',
       'Genetic Risk Factor (APOE-µ4 allele)', 'Social Engagement Level',
       'Income Level', 'Stress Levels', 'Urban vs Rural Living','Alzheimers Diagnosis']

In [202]:
df2 = df.copy()
for i in list1:
    df2[i] = le.fit_transform(df[i])

In [203]:
df

,Country,Age,Gender,Education Level,BMI,Physical Activity Level,Smoking Status,Alcohol Consumption,Diabetes,Hypertension,Cholesterol Level,Family History of Alzheimers,Cognitive Test Score,Depression Level,Sleep Quality,Dietary Habits,Air Pollution Exposure,Employment Status,Marital Status,Genetic Risk Factor (APOE-µ4 allele),Social Engagement Level,Income Level,Stress Levels,Urban vs Rural Living,Alzheimers Diagnosis
0,Spain,90,Male,1,33.0,Medium,Never,Occasionally,No,No,Normal,No,90,Low,Poor,Healthy,High,Retired,Single,No,Low,Medium,High,Urban,No
1,Argentina,72,Male,7,29.9,Medium,Former,Never,No,No,Normal,No,65,Low,Good,Healthy,Medium,Unemployed,Widowed,No,High,Low,High,Urban,No
2,South Africa,86,Female,19,22.9,High,Current,Occasionally,No,Yes,Normal,No,43,High,Good,Average,Medium,Employed,Single,No,Low,Medium,High,Rural,No
3,China,53,Male,17,31.2,Low,Never,Regularly,Yes,No,Normal,No,81,Medium,Average,Healthy,Medium,Retired,Single,No,High,Medium,Low,Rural,No
4,Sweden,58,Female,3,30.0,High,Former,Never,Yes,No,Normal,No,49,High,Poor,Unhealthy,High,Employed,Married,No,Low,Medium,High,Rural,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74278,Russia,60,Female,3,22.6,High,Former,Never,No,No,High,No,42,Medium,Poor,Average,High,Unemployed,Widowed,No,Medium,High,Medium,Rural,No
74279,UK,58,Male,18,30.6,Low,Never,Occasionally,Yes,No,Normal,No,42,Low,Poor,Average,Medium,Unemployed,Single,No,Medium,High,High,Rural,No
74280,Spain,57,Female,13,28.2,Medium,Never,Regularly,No,No,High,Yes,61,Low,Good,Healthy,Low,Employed,Single,Yes,High,Low,Low,Rural,No
74281,Brazil,73,Female,7,29.0,Low,Never,Regularly,No,No,High,No,97,High,Good,Healthy,Low,Employed,Widowed,No,Low,Low,High,Rural,No
74282,Norway,57,Female,1,31.7,Low,Current,Regularly,No,No,Normal,No,46,Low,Average,Average,Low,Unemployed,Single,No,Low,Medium,Medium,Urban,No

In [204]:
df2 = df2.drop(columns = ['Cognitive Test Score','Depression Level','Sleep Quality','Country','Gender','Education Level','Income Level','Employment Status', 'Marital Status', 'Urban vs Rural Living', 'Alcohol Consumption'])

In [205]:
df2

,Age,BMI,Physical Activity Level,Smoking Status,Diabetes,Hypertension,Cholesterol Level,Family History of Alzheimers,Dietary Habits,Air Pollution Exposure,Genetic Risk Factor (APOE-µ4 allele),Social Engagement Level,Stress Levels,Alzheimers Diagnosis
0,90,33.0,2,2,0,0,1,0,1,0,0,1,0,0
1,72,29.9,2,1,0,0,1,0,1,2,0,0,0,0
2,86,22.9,0,0,0,1,1,0,0,2,0,1,0,0
3,53,31.2,1,2,1,0,1,0,1,2,0,0,1,0
4,58,30.0,0,1,1,0,1,0,2,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74278,60,22.6,0,1,0,0,0,0,0,0,0,2,2,0
74279,58,30.6,1,2,1,0,1,0,0,2,0,2,0,0
74280,57,28.2,2,2,0,0,0,1,1,1,1,0,1,0
74281,73,29.0,1,2,0,0,0,0,1,1,0,1,0,0
74282,57,31.7,1,0,0,0,1,0,0,1,0,1,2,0

In [206]:
x = df2.drop(columns = 'Alzheimers Diagnosis')
y = df2['Alzheimers Diagnosis']

In [207]:
ypred = df2.head(1)
ypred

,Age,BMI,Physical Activity Level,Smoking Status,Diabetes,Hypertension,Cholesterol Level,Family History of Alzheimers,Dietary Habits,Air Pollution Exposure,Genetic Risk Factor (APOE-µ4 allele),Social Engagement Level,Stress Levels,Alzheimers Diagnosis
0,90,33.0,2,2,0,0,1,0,1,0,0,1,0,0

In [208]:
ypred = ypred.drop(columns = 'Alzheimers Diagnosis')

In [209]:
ypred

,Age,BMI,Physical Activity Level,Smoking Status,Diabetes,Hypertension,Cholesterol Level,Family History of Alzheimers,Dietary Habits,Air Pollution Exposure,Genetic Risk Factor (APOE-µ4 allele),Social Engagement Level,Stress Levels
0,90,33.0,2,2,0,0,1,0,1,0,0,1,0

In [210]:
x,y

(       Age   BMI  Physical Activity Level  Smoking Status  Diabetes  \
 0       90  33.0                        2               2         0
 1       72  29.9                        2               1         0
 2       86  22.9                        0               0         0
 3       53  31.2                        1               2         1
 4       58  30.0                        0               1         1
 ...    ...   ...                      ...             ...       ...
 74278   60  22.6                        0               1         0
 74279   58  30.6                        1               2         1
 74280   57  28.2                        2               2         0
 74281   73  29.0                        1               2         0
 74282   57  31.7                        1               0         0

        Hypertension  Cholesterol Level  Family History of Alzheimers  \
 0                 0                  1                              0
 1                 0                  1                              0
 2                 1                  1                              0
 3                 0                  1                              0
 4                 0                  1                              0
 ...             ...                ...                            ...
 74278             0                  0                              0
 74279             0                  1                              0
 74280             0                  0                              1
 74281             0                  0                              0
 74282             0                  1                              0

        Dietary Habits  Air Pollution Exposure  \
 0                   1                       0
 1                   1                       2
 2                   0                       2
 3                   1                       2
 4                   2                       0
 ...               ...                     ...
 74278               0                       0
 74279               0                       2
 74280               1                       1
 74281               1                       1
 74282               0                       1

        Genetic Risk Factor (APOE-µ4 allele)  Social Engagement Level  \
 0                                         0                        1
 1                                         0                        0
 2                                         0                        1
 3                                         0                        0
 4                                         0                        1
 ...                                     ...                      ...
 74278                                     0                        2
 74279                                     0                        2
 74280                                     1                        0
 74281                                     0                        1
 74282                                     0                        1

        Stress Levels
 0                  0
 1                  0
 2                  0
 3                  1
 4                  0
 ...              ...
 74278              2
 74279              0
 74280              1
 74281              0
 74282              2

 [74283 rows x 13 columns],
 0        0
 1        0
 2        0
 3        0
 4        0
         ..
 74278    0
 74279    0
 74280    0
 74281    0
 74282    0
 Name: Alzheimers Diagnosis, Length: 74283, dtype: int32)

In [211]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,random_state = 42,test_size = 0.2)

In [212]:
scaler.fit(xtrain)
xtrainscaled = scaler.transform(xtrain)
xtestscaled = scaler.transform(xtest)

In [213]:
model1.fit(xtrainscaled,ytrain)
lins = model1.score(xtestscaled,ytest)
model1.predict(xtestscaled)

array([0.58125646, 0.50866697, 0.24768142, ..., 0.82431214, 0.28169306,
       0.30576324])

In [214]:
poly.fit(xtrain)
xtrainpoly = poly.transform(xtrain)
xtestpoly = poly.transform(xtest)
model2.fit(xtrainpoly,ytrain)
wpolys = model2.score(xtestpoly,ytest)
model2.predict(xtestpoly)

array([0.58764744, 0.49458831, 0.23696626, ..., 0.82794423, 0.29858977,
       0.3249951 ])

In [215]:
logic.fit(xtrainscaled,ytrain)
logics = logic.score(xtestscaled,ytest)
logic.predict(ypred)

D:\Application Programs\Anaconda\Lib\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

array([1])

In [216]:
logics

0.7115837652285119

In [217]:
dt.fit(xtrainscaled,ytrain)

DecisionTreeClassifier(criterion='entropy', random_state=42)

In [218]:
decision = dt.score(xtestscaled,ytest)

In [219]:
df2

,Age,BMI,Physical Activity Level,Smoking Status,Diabetes,Hypertension,Cholesterol Level,Family History of Alzheimers,Dietary Habits,Air Pollution Exposure,Genetic Risk Factor (APOE-µ4 allele),Social Engagement Level,Stress Levels,Alzheimers Diagnosis
0,90,33.0,2,2,0,0,1,0,1,0,0,1,0,0
1,72,29.9,2,1,0,0,1,0,1,2,0,0,0,0
2,86,22.9,0,0,0,1,1,0,0,2,0,1,0,0
3,53,31.2,1,2,1,0,1,0,1,2,0,0,1,0
4,58,30.0,0,1,1,0,1,0,2,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74278,60,22.6,0,1,0,0,0,0,0,0,0,2,2,0
74279,58,30.6,1,2,1,0,1,0,0,2,0,2,0,0
74280,57,28.2,2,2,0,0,0,1,1,1,1,0,1,0
74281,73,29.0,1,2,0,0,0,0,1,1,0,1,0,0
74282,57,31.7,1,0,0,0,1,0,0,1,0,1,2,0

In [220]:
rd.fit(xtrainscaled,ytrain)
ridge = rd.score(xtestscaled,ytest)
rd.predict(xtestscaled)

array([0.58125358, 0.50866536, 0.24768432, ..., 0.82430517, 0.28169523,
       0.30576505])

In [221]:
ls.fit(xtrainscaled,ytrain)
lassos = ls.score(xtestscaled,ytest)

In [222]:
print("Score of Linear Regression:",lins)
print("Score of Logistic Regression:",logics)
print("Score of DecisionTreeClassifier:",decision)
print("Score of Ridge Regression:",ridge)
print("Score of Lasso Regression:",lassos)

Score of Linear Regression: 0.237581957597499
Score of Logistic Regression: 0.7115837652285119
Score of DecisionTreeClassifier: 0.6378811334724372
Score of Ridge Regression: 0.23758188854312456
Score of Lasso Regression: -6.630221951464677e-07

In [223]:
df2.columns

Index(['Age', 'BMI', 'Physical Activity Level', 'Smoking Status', 'Diabetes',
       'Hypertension', 'Cholesterol Level', 'Family History of Alzheimers',
       'Dietary Habits', 'Air Pollution Exposure',
       'Genetic Risk Factor (APOE-µ4 allele)', 'Social Engagement Level',
       'Stress Levels', 'Alzheimers Diagnosis'],
      dtype='object')

In [224]:
df2

,Age,BMI,Physical Activity Level,Smoking Status,Diabetes,Hypertension,Cholesterol Level,Family History of Alzheimers,Dietary Habits,Air Pollution Exposure,Genetic Risk Factor (APOE-µ4 allele),Social Engagement Level,Stress Levels,Alzheimers Diagnosis
0,90,33.0,2,2,0,0,1,0,1,0,0,1,0,0
1,72,29.9,2,1,0,0,1,0,1,2,0,0,0,0
2,86,22.9,0,0,0,1,1,0,0,2,0,1,0,0
3,53,31.2,1,2,1,0,1,0,1,2,0,0,1,0
4,58,30.0,0,1,1,0,1,0,2,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74278,60,22.6,0,1,0,0,0,0,0,0,0,2,2,0
74279,58,30.6,1,2,1,0,1,0,0,2,0,2,0,0
74280,57,28.2,2,2,0,0,0,1,1,1,1,0,1,0
74281,73,29.0,1,2,0,0,0,0,1,1,0,1,0,0
74282,57,31.7,1,0,0,0,1,0,0,1,0,1,2,0